{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    إضافة اختبار
                </h4>
                <p class="card-title-desc">
                    يرجى إضافة اسم الاختبار ومدته والدرجة النهائية ومدة الاختبار ودرجة الصعوبة
                </p>
                <form method="POST" action="/" class="needs-validation" novalidate="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="validationCustom01">
                                    اسم الاختبار
                                </label>
                                <input class="form-control" id="validationCustom01" name="exam_name" placeholder="الاسم" required
                                       type="text">
                                <div class="invalid-feedback">
                                    يجب اسم للاختبار
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">
                                    درجة الصعوبة
                                </label>
                                <select class="form-select" name="exam_level">
                                    <option value="1">
                                        سهل
                                    </option>
                                    <option value="2">
                                        متوسط
                                    </option>
                                    <option value="3">
                                        صعب
                                    </option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="validationCustom02">
                                    مدة الاختبار
                                </label>
                                <input class="form-control" id="validationCustom02" name="exam_duration" placeholder="مدة الاختبار بالدقائق"
                                       required="" type="number" min="1">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="validationCustom04">
                                    الدرجة النهائية
                                </label>
                                <input class="form-control" id="validationCustom04" placeholder="درجة الاختبار النهائية من 0 إلى 100"
                                       required="" name="exam_final_mark" type="number" min="1" max="100">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="validationCustom05">
                                    توقيت الاختبار
                                </label>
                                <input class="form-control" id="validationCustom05" placeholder="تاريخ إتاحة الاختبار" required
                                       type="date">
                            </div>
                        </div>
                    </div>
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="تأكيد">
                </form>
            </div>
        </div>
        <!-- end card -->
    </div>
</div>
{% endblock %}